<% content_for :title, "Notes" %>
<div class="">
  <div class="py-6 px-4 flex justify-between items-center">
    <h1 class="font-bold text-2xl text-gray-800 dark:text-white">Notes</h1>
    
    <%= link_to new_note_path, class: "inline-flex items-center gap-2 bg-green-600 hover:bg-green-700 text-white dark:bg-green-700 dark:hover:bg-green-800 rounded-lg px-4 py-2 font-medium transition-colors duration-200" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
      New Note
    <% end %>
  </div>

  <% if @notes.any? %>
    <%= content_tag(:"turbo-frame", id: "notes", target: "_top", class: "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4 pb-6") do %>
      <%= render partial: "notes/components/note_card", collection: @notes, as: :note %>
    <% end %>
    
    <%= render_load_more(@pagy) %>
    
  <% else %>
    <%= render "notes/components/empty_state" %>
  <% end %>
  
  <div class="mb-14 md:mb-0">
    <%= render 'layouts/mobile_nav' %>
  </div>
</div>

<%= render "notes/components/quick_record_button" %>