<div data-controller="note-click" class="bg-white dark:bg-gray-800 dark:text-white rounded-lg shadow-sm border border-gray-200 dark:border-gray-700 hover:border-green-500 dark:hover:border-green-500 hover:shadow-md transition-all duration-200 group cursor-pointer">
  <div class="p-5" data-action="click->note-click#visit" data-note-click-url="<%= note_path(note) %>">
    <% cache note do %>
      <h2 class="text-lg font-semibold mt-2 group-hover:text-green-600 dark:group-hover:text-green-500 line-clamp-1" title="<%= note.title %>">
        <%= note.title %>
      </h2>
      <p class="text-sm mt-2 text-gray-600 dark:text-gray-300 line-clamp-3 leading-relaxed">
        <%= sanitize(truncate(note.transcription.to_plain_text, length: 170)) %>
      </p>
    <% end %>
    <%= render 'notes/components/note_meta', note: note, category: @category %>
  </div>
</div>
