<% content_for :title, sanitize(@category.name) %>

<div class="text-gray-800 dark:text-white">
    <div class="px-4 py-6">
        <div class="flex items-center gap-3 mb-3">
            <%= link_to categories_path, class: "text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                </svg>
            <% end %>
            <h1 class="font-bold text-xl"><%= @category.name %></h1>
        </div>
        <%= render 'categories/components/category_meta', category: @category %>
    </div>

    <% if @notes.any? %>
        <%= content_tag(:"turbo-frame", id: "notes", target: "_top", class: "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4 pb-6") do %>
            <%= render partial: "notes/components/note_card", collection: @notes, as: :note, cached: true %>
        <% end %>
        
        <%#= render_load_more(@pagy) %>
        
    <% else %>
        <%= render "notes/components/empty_state" %>
    <% end %>
</div>