<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "FaithNoteAI" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white dark:bg-black" data-controller="sidebar">
    <%= render 'layouts/navbar' %>
    
    <% auth_pages = controller_name == 'sessions' || controller_name == 'passwords' %>
    
    <% unless auth_pages %>
      <%= render 'layouts/sidebar' %>
    <% end %>
    
    <div class="<%= auth_pages ? 'h-screen flex items-center justify-center' : 'sm:ml-64' %> bg-white dark:border-black dark:bg-black">
      <div class="<%= auth_pages ? 'w-full max-w-md px-4' : 'md:mt-14' %>">
        <%= yield %>
        <%= render partial: "layouts/flash" %>
      </div>

      <%= turbo_frame_tag :modal %>
    </div>
  </body>
</html>